<div>
	{{!-- <main>
		<section>
			{{> title data="All skills"}}
			<ul> --}}
				{{!-- <li>{{main.skills}}</li> --}}
	{{!-- ---------------------------- --}}
				{{!-- <li>{{main.skills.[0]}}</li> --}}
	{{!-- ---------------------------- --}}
			{{!-- {{#each main.skills}}
				<li>{{this}}</li>
			{{/each}}
			</ul>
		</section>
	</main> --}}
	{{!-- ---------------------------- --}}
	{{#with main}}
	<main>
		<section>
			{{> title data="All skills"}}
			<ul>
			{{#each skills}}
				<li>{{this}}</li>
			{{/each}}
			</ul>
		</section>
	</main>
	{{/with}}


</div>