<div>
	{{#with main}}
		<main>
			<section>
				{{> title data="Summary"}}
				<div>
					<p>
						{{summary.text}}
					</p>
				</div>
			</section>

			{{#with experience}}
				<section>
					{{> title data=title}}
					<div>
						<p>
							{{text}}
						</p>
					</div>
				</section>
			{{/with}}
		</main>
	{{/with}}
</div>
